autopep8==1.5.7
beautifulsoup4==4.9.3
Brotli==1.0.9
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
cycler==0.10.0
dash==1.20.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
dataclasses==0.8
DLBio @ git+https://github.com/pgruening/dlbio@d51d5b668ee419c335c7d5a65b71572e03d4baab
Flask==2.0.1
Flask-Compress==1.10.1
future==0.18.2
gunicorn==20.1.0
idna==2.10
importlib-metadata==4.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.3.4
mdutils==1.3.0
numpy==1.19.5
opencv-python==4.5.2.54
pandas==1.1.5
Pillow==8.2.0
pkg-resources==0.0.0
plotly==5.0.0
pycodestyle==2.7.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
recordtype==1.3
requests==2.25.1
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
soupsieve==2.2.1
tabulate==0.8.9
tenacity==7.0.0
threadpoolctl==2.1.0
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.5
Werkzeug==2.0.1
zipp==3.4.1
Brotli==1.0.9
click==8.0.1
cycler==0.10.0
dash==1.20.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
DLBio @ git+https://github.com/pgruening/dlbio@d51d5b668ee419c335c7d5a65b71572e03d4baab
Flask==2.0.1
Flask-Compress==1.10.1
future==0.18.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
kiwisolver==1.3.1
MarkupSafe==2.0.1
opencv-python==4.5.2.54
pandas==1.2.5
Pillow==8.2.0
plotly==5.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
recordtype==1.3
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
tenacity==7.0.0
threadpoolctl==2.1.0
Werkzeug==2.0.1
